@model PasswordDto
@{
	Layout = null;

	ViewData["Title"] = Model.Id == 0 ? "Yeni Şifre Tanımlayın" : "Şifre Düzenleme";

	string Mode = Model.Id == 0 ? "add" : "edit";
}
<div class="modal-dialog modal-dialog-centered modal-lg">
	<div class="modal-content">
		<form id="form-crypt" action="/api/password/@Mode/" method="post" class="mb-3 js-validate needs-validation" autocomplete="off" novalidate>
			<div class="modal-header">
				<h5 class="modal-title" id="passwordsModalModalLabel"><i class="fas fa-user-secret"></i> @ViewData["Title"]</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group mb-4">
					<label asp-for="@Model.UrlTemp">Url</label>
					<span class="form-icon-wrapper">
						<span class="form-icon form-icon--left">
							<i class="fas fa-link form-icon__item"></i>
						</span>
						<input asp-for="@Model.UrlTemp" class="form-control form-icon-input-left" type="url" placeholder="Url" aria-describedby="Url" required>
					</span>
					<small class="form-text invalid-feedback"></small>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6 mb-3">
						<label asp-for="@Model.NameTemp">Kayıt Tanımı</label>
						<span class="form-icon-wrapper">
							<span class="form-icon form-icon--left">
								<i class="fas fa-award form-icon__item"></i>
							</span>
							<input type="text" class="form-control form-icon-input-left" asp-for="@Model.NameTemp" placeholder="Kayıt Tanımı" required>
						</span>
						<small class="form-text invalid-feedback"></small>
					</div>
					<div class="form-group col-md-6 mb-3">
						<label asp-for="@Model.CategoryTemp">Kategori</label>
						<span class="form-icon-wrapper">
							<span class="form-icon form-icon--left">
								<i class="fas fa-project-diagram form-icon__item"></i>
							</span>
							<select class="form-control form-icon-input-left" asp-for="@Model.CategoryTemp" data-placeholder="Kategori Seçimi" data-select2-init="modal">
								<option value="0" selected>Seç veya Ekle</option>
							</select>
						</span>
						<small class="form-text invalid-feedback"></small>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6 mb-3">
						<label asp-for="@Model.UserNameTemp">Kullanıcı Adı</label>
						<span class="form-icon-wrapper">
							<span class="form-icon form-icon--left">
								<i class="fas fa-id-badge form-icon__item"></i>
							</span>
							<input type="text" class="form-control form-icon-input-left" asp-for="@Model.UserNameTemp" placeholder="Kullanıcı Adı" required>
						</span>
						<small class="form-text invalid-feedback"></small>
					</div>
					<div class="form-group col-md-6 mb-3">
						<div class="d-flex align-items-center">
							<label asp-for="@Model.PasswordTemp">Şifre</label>
							<button type="button" class="btn btn-light btn-sm ml-auto" style="margin-top: -10px;" data-event="generate-password" data-target="#PasswordTemp">
								Şifre Üret <i class="fas fa-key ml-2"></i></button>
						</div>
						<span class="form-icon-wrapper">
							<span class="form-icon form-icon--right cp" data-toggle-sh="PasswordTemp">
								<i class="fas fa-eye form-icon__item"></i>
							</span>
							<span class="form-icon form-icon--left">
								<i class="fas fa-key form-icon__item"></i>
							</span>
							<input type="password" autocomplete="new-password" value="@Model.PasswordTemp" class="form-control form-icon-input-left" asp-for="@Model.PasswordTemp" placeholder="Şifre" required>
						</span>
						<small class="form-text invalid-feedback"></small>
						<div id="password-strength-status"></div>
					</div>
				</div>

				<div class="form-group mb-4">
					<label asp-for="@Model.NoteTemp">Açıklama</label>
					<textarea asp-for="@Model.NoteTemp" class="form-control" rows="4" placeholder="Açıklama" aria-describedby="Not"></textarea>
					<small class="form-text invalid-feedback"></small>
				</div>

				<div class="card">
					<div class="card-body">
						<h5 class="card-title pb-2 border-bottom"><i class="fas fa-sliders-h"></i> Seçenekler</h5>
						<div class="form-row mt-3">
							<div class="form-group col-md-6 mb-4">
								<label class="d-flex align-items-center justify-content-start">
									<div class="form-toggle">
										<input type="checkbox" asp-for="@Model.PasswordReprompt">
										<div class="form-toggle__item">
											<i class="fa" data-check-icon="&#xf00c" data-uncheck-icon="&#xf00d"></i>
										</div>
									</div>
									<span class="form-label-text cp">İşlemler için parola iste</span>
								</label>
								<small class="form-text invalid-feedback"></small>
							</div>
							<div class="form-group col-md-6 mb-4">
								<label class="d-flex align-items-center justify-content-start">
									<div class="form-toggle">
										<input type="checkbox" asp-for="@Model.DisableAutofill">
										<div class="form-toggle__item">
											<i class="fa" data-check-icon="&#xf00c" data-uncheck-icon="&#xf00d"></i>
										</div>
									</div>
									<span class="form-label-text cp">Otomatik doldurma devre dışı</span>
								</label>
								<small class="form-text invalid-feedback"></small>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label class="d-flex align-items-center justify-content-start">
									<div class="form-toggle">
										<input type="checkbox" asp-for="@Model.AutoLogin">
										<div class="form-toggle__item">
											<i class="fa" data-check-icon="&#xf00c" data-uncheck-icon="&#xf00d"></i>
										</div>
									</div>
									<span class="form-label-text cp">Otomatik Giriş</span>
								</label>
								<small class="form-text invalid-feedback"></small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer d-flex align-items-center">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
					<i class="fas fa-times"></i> Kapat
				</button>
				<button type="submit" class="btn btn-primary ml-auto"><i class="far fa-save"></i> Kaydet</button>
			</div>
			<input type="hidden" asp-for="@Model.Id" />
			@Html.AntiForgeryToken()
		</form>
	</div>
</div>
<script defer>

	(function () {
		"use strict"

		const categoryId = '#CategoryTemp';
		const disableAutofill = '#DisableAutofill';
		const autoLogin = '#AutoLogin';
		const passwordTemp = '#PasswordTemp';

		$.GetCategoryList(categoryId, @Model.CategoryId);

		$.CheckPasswordStrength($(passwordTemp).val());

		$(disableAutofill).on('click', function () {

			if ($(this).is(':checked')) {
				$(autoLogin).prop('checked', false);
			}
		});

		$(autoLogin).on('click', function () {

			if ($(this).is(':checked')) {
				$(disableAutofill).prop('checked', false);
			}
		});
	})()

</script>